{
  "extends": ["airbnb-base"],
  "rules": {
    "no-console": "off",
    "import/no-unresolved": "off",
    "linebreak-style": "off",
    "react/jsx-uses-vars": ["error"],
    "class-methods-use-this": "off",
    "object-shorthand": 0,
    "no-underscore-dangle": 0,
    "no-mixed-operators": [
      2,
      { "allowSamePrecedence": true }
    ],
    "max-len": [
      2,
      { "code": 100, "ignoreComments": true, "ignoreTemplateLiterals": true}
    ]
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "jest",
    "react"
  ],
  "env": {
    "jest/globals": true,
    "browser": true
  }
}
